* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    font: 400 1em 'Inter', sans-serif;    
}

.container {
    width: 80vw;
}

// Estilização geral de darkmode e lightmode
.darkmode {
    background-color: #272626;
    color: #fff;
}

.lightmode {
    background-color: #FCFCFC;
    color: #272626;
}

// Estilização de mensagens semânticas
.errorFeedback {
    display: block;
    text-align: left;

    color: #D62839;
    font-size: 0.8em;

    margin-top: 6px; 
}

.logoNavbar {
    height: 60px;
}

// Estilização do darkmode e lightmode

// Removendo estilos padrões
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}