* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    background-color: #2d3133;
    color: #fff;

    font: 400 1em 'Inter', sans-serif;    
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// Estilização de mensagens semânticas
.errorFeedback {
    display: block;
    text-align: left;

    color: #D62839;
    font-size: 0.8em;

    margin-top: 6px; 
}