.lightmode {
    #product-registration-page {
        .container {
            main {
                background-color: #FFF;
    
                form {
                    .inputField {
                        input, 
                        textarea,
                        select {
                            border: 1px solid rgba($color: #808080, $alpha: 0.5);
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}

#product-registration-page {
    display: flex;
    justify-content: center;

    .actionBtn {
        background-color: transparent;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 6px;
        width: fit-content;
        border-radius: 6px;
        font-weight: 600;
        border: 1px solid #FFF;
        color: #FFF;
        cursor: pointer;
    }


    .container {
        margin: 116px 0 36px 0;

        header {
            margin-bottom: 30px;

            h1 {
                font: 400 2em "Inter", sans-serif;
            }
        }

        main {
            width: 80vw;
            padding: 60px;
            border-radius: 6px;

            background-color: rgba($color: #4D4D4D, $alpha: 0.18);
            box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.25);

            form {
                display: grid;
                gap: 18px;
                
                .inputField {
                    position: relative;

                    label {
                        display: block;
                        font-weight: 600;
                        margin-bottom: 6px;
    
                        small,
                        a {
                            font-weight: 400;
                            color: #808080;
                        }
                    }
    
                    input[type=file] {
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 120px;
                        cursor: pointer;
                    }

                    #dropzone {
                        border: 1px dashed #808080;
                        border-radius: 6px;
                        height: 120px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 12px;
                        

                        p {
                            color: #808080;
                        }
                    }
                    
                    ul {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 12px;
                    }

                    .previewItem {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        border: 1px solid #808080;
                        border-radius: 6px;
                        margin: 12px 0;
                        padding: 6px;

                        
                        .wrapperImageInfo {
                            gap: 20px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            h3 {
                                font-size: 1em;
                            }

                            

                        }

                        .previewImageContainer {
                            height: 80px;
                            width: 80px;
                            display: flex;
                            align-items: center;
                            
                            .preview {
                                width: 100%;
                            }
                        }
                    }



                    input,
                    textarea,
                    select {
                        width: 100%;
                        padding: 12px 18px;
                        border-radius: 6px;
    
                        border: 1px solid rgba($color: #FFF, $alpha: 0.5);
                        background-color: transparent;
                        color: #FFF;
    
                        &::placeholder {
                            font: 600 1em, "Inter", sans-serif;
                            color: #808080;
                        }
    
                        &:focus {
                            outline: 1px solid #4BD8F9;
                            border: 1px solid transparent;
                        }
                    }
    
                    textarea {
                        resize: vertical;
                        height: 100px;
                        min-height: 42px;
                    }

                    select {
                        option {
                            color: #4d4d4d;
                        }
                    }
                }

                .feature {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-bottom: 12px;
                }

                button {
                    width: fit-content;
                    padding: 12px 24px;
                    border-radius: 6px;
    
                    border: none;
                    background-color: #0367A6;
                    color: #FFF;
                    font-weight: 600;
    
                    &:hover {
                        background-color: #01588D;
                    }
                }
            }

        }
    }
}